*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #333;
}

/* HEADER */

.header{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1790px;
    top: 35px;
}

.header img{
    margin-left: 56px;    
}

.header a{
    margin-right: 56px;    
    display: block;
    background:  #e50914;
    color: white;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}


/* MAIN */

.main{
    width: 100%;
    height: 850px;
    color: #fff;;
    background: url("../img/bg.jpg") no-repeat center;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.main-container{
    max-width: 800px;
    z-index: 1;
    margin-top: 150px;
}

.main-container h1{

    max-width: 510;
    font-size: 65px;
}

.main-container h2{
    margin: 25px;
    font-size: 34px;
    font-weight: 400;
}

.main-container .form{
    display: grid;
    grid-template-columns: 500px 250px;
    justify-content: center;
}

.main-container .form input{
    padding: 22px 13px;
    font-size: 18px;

}

.main-container .form button{
    background: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.main-container .form button::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("../img/seta.svg");
    margin-left: 20px;
}

.main-container .form button:hover{
    background: #f40612;
}

.main-container p{
    font-weight: 400;
    font-size: 27px;
    margin-top: 20px;
}

.main .gradient{
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

/* SECTION */

.section{
    border-top: 8px solid #222;
    color: #fff;
    background: black;
    padding-bottom: 30px;
}

.section-container{
    max-width: 1130px;
    margin: 0 auto;
}

.section .grid{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
}

.section h1{
    font-size: 44px;
    margin-bottom: 20px;
}

.section p{
    font-size: 24px;
}

.section .video-tv{
    position: relative;
}

.section .img{
    position: relative;
    z-index: 1;
}


.section .video{
    position: absolute;
    top: 92px;
    left: 72px;
}

#dois .grid > div:first-child{
    order: 2;
} 

#dois .video-tv{
    order: 1;
}

#tres .video{
    width: 400px;
    top: 50px;
    left: 120px;
}

/* FOOTER */